html
  head
    title RMSync
    meta(name='viewport' content='width=device-width, initial-scale=1')
    include partials/head.pug
    link(rel="stylesheet", type="text/css", href="/css/index.css")
    
  body(onload="initialize()")
    div.uk-container.uk-padding-remove-horizontal.uk-position-small.uk-position-center
    
      div.uk-card.uk-card-default.uk-padding.uk-box-shadow-large.uk-border-rounded
        span#timerId.uk-badge.uk-margin-bottom
        span.uk-float-right SyncTimer
        
        div
          input#timer-id-field.uk-input.uk-width-auto(type="text" placeholder="Enter Timer ID" autofocus)
          button.uk-button.uk-button-primary.uk-width-auto(onclick="gotoTimer();") Join
        div.uk-flex.uk-flex-between.uk-margin-top.uk-width-expand
          button#new-timer.uk-button.uk-button-default.uk-width-1-1.uk-text-nowrap(onclick="window.location.href='timer/new';") New Timer
          div(uk-lightbox).uk-width-1-2.uk-margin-small-left
            a.uk-button.uk-button-default.uk-width-auto(data-type="iframe" href="/timer/new") Modal
              
        div.uk-flex.uk-flex-center.uk-text-center.uk-margin-top
          span.uk-text-small.uk-text-muted
            a(href="https://github.com/racemanager/sync-timer") //github.com/racemanager/sync-timer
            br
            span Stripped-down version of
            br
            a(href="https://github.com/mstop4/sync-timer") //github.com/mstop4/sync-timer
            
script(type="text/javascript", src="js/index.js")

script(type="text/javascript", src="/socket.io/socket.io.js")
script.
  myTimerId="#{timerId}"
script(type="text/javascript", src="/js/socket.js")
