html
  head
    title Timer Not Found!
    meta(name='viewport' content='width=device-width, initial-scale=1')
    include partials/head
    link(rel="stylesheet", type="text/css", href="/css/timer404.css")
  body.uk-text-center
    div.uk-position-center
      h1 Timer Not Found!
      a.uk-link-text.uk-text-large(href='/') Home
