body {
  color: #fff;
  background-color: #1b242d;
  font-family: 'Roboto Condensed', sans-serif;
}

 .uk-card {
   background-color:#161c23;
   color: #d0d0d0
 }

.uk-button-default {
  background-color:#161c23;
  border: 1px solid #2c3946!important;
  color: #d0d0d0
}
 
 .uk-button-default:hover {
  background-color:#161c23b5
}
