body {
  color: #fff;
  background-color: #1b242d;
  font-family: 'Roboto Condensed', sans-serif;
}
  
 .uk-alert {
   background: #1b242d!important
 }
 
 .uk-card {
   background-color:#161c23;
   color: #d0d0d0
 }

.uk-button-default {
  background-color:#161c23;
  border: 1px solid #2c3946!important;
  color: #d0d0d0
}
 
 .uk-button-default:hover {
  background-color:#161c23b5
}

.info-container {
  width: 100%; }

.info {
  margin: 2vh 2vh;
  font-size: 3vw;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  @media all and (max-aspect-ratio: 1 / 1) {
    .info {
      margin: 2vw 2vw;
      font-size: 3vh; } }

#timer-display {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  font-size: 12vw;
  line-height: 1;
  font-family: 'Share Tech Mono', monospace; }

.digit {
  width: auto; }

.separator {
  text-align: center;
  vertical-align: middle;
  width: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.buttons {
  width: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin: 0; }

button.uk-button-primary {
  background-color: #2aa197 !important; }

.timer-ui {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  height: 100%; }



